* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #ff30d2;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
}

.container {
	margin: auto;
	width: 50%;
	padding: 20px;
	background-color: rgb(252, 197, 70);
	box-shadow: 0px 0px 10px #999;
}

h1, h2 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"], input[type="date"], input[type="number"] {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #ddd;
}

button {
	padding: 10px;
	margin-top: 20px;
	background-color: #ff0000;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.footer {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	height: 30px;
	width: 100%;
	background-color: aqua;
}